<section class="featured highlight">
  <div class="container">
    <div class="row center counters">
      <div class="col-md-3 col-sm-6">
        <strong data-to="7" data-append="+">0</strong>
        <label>Proyectos en el laboratorio</label>
      </div>
      <div class="col-md-3 col-sm-6">
        <strong data-to="352">0</strong>
        <label>Tazas de cafe</label>
      </div>
      <div class="col-md-3 col-sm-6">
        <strong data-to="13">0</strong>
        <label>Tecnologias en cada proyecto</label>
      </div>
      <div class="col-md-3 col-sm-6">
        <strong data-to="1">0</strong>
        <label>Solo lugar</label>
      </div>
    </div>
  </div>
</section>
