<div class="container">
  <section class="call-to-action featured footer">
    <div class="container">
      <div class="row">
        <div class="center">
          <h3>Estas a <strong>30</strong> segundos de empezar <strong>algo nuevo!</strong> <%= link_to "Contactanos", {controller: "welcome", action: "contacto"}, class: "btn btn-lg btn-primary", target: "_blank", :'data-appear-animation' => "bounceIn"%> <span class="arrow hlb hidden-xs hidden-sm hidden-md" data-appear-animation="rotateInUpLeft" style="top: -22px;"></span></h3>
        </div>
      </div>
    </div>
  </section>
</div>
