<div data-appear-animation="fadeInDown" class="appear-animation">
  <div class="row featured-boxes secundary">
    <div class="col-md-2">
      <div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
        <div class="featured-box featured-box-primary">
          <div class="box-content">
            <i class="icon-featured fa fa-laptop"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <h3 class="short dark">Desarrollo Web</h3>
      <h5 class="short">Desarrollo de sistemas, plataformas y aplicativos web</h5>
      <p>
        Desarrollamos sistemas y aplicativos web que buscan trascender y mejorar las actividades diarias, cuidando en cada momento los más altos estándares de calidad.
      </p>
    </div>
  </div>
</div>

<div data-appear-animation="fadeInDown" class="appear-animation">
  <div class="row">
    <div data-appear-animation="fadeIn" data-appear-animation-delay="800" class="appear-animation">
      <div class="col-md-2 center push-bottom">
        <span class="icon-rounded"><i class="fa fa-plus"></i></span>
      </div>
    </div>
  </div>
</div>

<div data-appear-animation="fadeInDown" class="appear-animation">
  <div class="row featured-boxes secundary">
    <div class="col-md-2">
      <div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
        <div class="featured-box featured-box-primary">
          <div class="box-content">
            <i class="icon-featured fa fa-mobile fa-3x"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <h3 class="short dark">Desarrollo Móvil</h3>
      <h5 class="short">Desarrollo nativo de aplicaciones móviles para dispositivos inteligentes</h5>
      <p>
        Desarrollamos aplicaciones inteligentes para dispositivos inteligentes, creamos soluciones de fácil acceso y comodidad pero con un alto rendimiento, para acceder desde cualquier lugar en cualquier momento.
      </p>
    </div>
  </div>
</div>

<div data-appear-animation="fadeInDown" class="appear-animation">
  <div class="row">
    <div data-appear-animation="fadeIn" data-appear-animation-delay="800" class="appear-animation">
      <div class="col-md-2 center push-bottom">
        <span class="icon-rounded"><i class="fa fa-plus"></i></span>
      </div>
    </div>
  </div>
</div>

<div data-appear-animation="fadeInDown" class="appear-animation">
  <div class="row featured-boxes secundary">
    <div class="col-md-2">
      <div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
        <div class="featured-box featured-box-primary">
          <div class="box-content">
            <i class="icon-featured fa fa-star"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <h3 class="short dark">Marketing</h3>
      <h5 class="short">Desarrollo de aplicativos que impulsan el Marketing Digital</h5>
      <p>
        Desarrollamos aplicativos que te ayuden a alcanzar las metas, usamos los medios digitales y las tecnologías de información para poder llegar a cualquier parte del mundo.
      </p>
    </div>
  </div>
</div>

<div data-appear-animation="fadeInDown" class="appear-animation">
  <div class="row">
    <div data-appear-animation="fadeIn" data-appear-animation-delay="800" class="appear-animation">
      <div class="col-md-2 center push-bottom">
        <span class="icon-rounded"><i class="fa fa-plus"></i></span>
      </div>
    </div>
  </div>
</div>

<div data-appear-animation="fadeInDown" class="appear-animation">
  <div class="row featured-boxes secundary">
    <div class="col-md-2">
      <div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
        <div class="featured-box featured-box-primary">
          <div class="box-content">
            <i class="icon-featured fa fa-puzzle-piece"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <h3 class="short dark">Consultoría de Proyectos</h3>
      <h5 class="short">Consultoría de proyectos en Tecnologías de la Información</h5>
      <p>
        No solo nosotros debemos alcanzar nuestras metas, por ello desarrollamos metodos de consultoría especializados para que todos logremos nuestras metas juntos.
      </p>
    </div>
  </div>
</div>
