<div data-appear-animation="fadeInDown" class="appear-animation">
  <div class="row featured-boxes secundary">
    <div class="col-md-2">
      <div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
        <div class="featured-box featured-box-primary">
          <div class="box-content">
            <i class="icon-featured fa fa-laptop"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <h3 class="short dark">AUTENTICIDAD</h3>
      <h5 class="short">Tenemos nuestros propios procesos, queremos ser únicos así como cada miembro del equipo lo es.</h5>
      
    </div>
  </div>
</div>

<div data-appear-animation="fadeInDown" class="appear-animation">
  <div class="row">
    <div data-appear-animation="fadeIn" data-appear-animation-delay="800" class="appear-animation">
      <div class="col-md-2 center push-bottom">
        <span class="icon-rounded"><i class="fa fa-plus"></i></span>
      </div>
    </div>
  </div>
</div>

<div data-appear-animation="fadeInDown" class="appear-animation">
  <div class="row featured-boxes secundary">
    <div class="col-md-2">
      <div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
        <div class="featured-box featured-box-primary">
          <div class="box-content">
            <i class="icon-featured fa fa-mobile fa-3x"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <h3 class="short dark">CONFIANZA</h3>
      <h5 class="short">Estamos seguros de la capacidad de nuestro equipo y confiamos en la buena relación que tenemos entre nosotros, clientes y socios.</h5>
    </div>
  </div>
</div>

<div data-appear-animation="fadeInDown" class="appear-animation">
  <div class="row">
    <div data-appear-animation="fadeIn" data-appear-animation-delay="800" class="appear-animation">
      <div class="col-md-2 center push-bottom">
        <span class="icon-rounded"><i class="fa fa-plus"></i></span>
      </div>
    </div>
  </div>
</div>

<div data-appear-animation="fadeInDown" class="appear-animation">
  <div class="row featured-boxes secundary">
    <div class="col-md-2">
      <div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
        <div class="featured-box featured-box-primary">
          <div class="box-content">
            <i class="icon-featured fa fa-star"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <h3 class="short dark">COMPROMISO SOCIAL</h3>
      <h5 class="short">Nuestro negocio debe resolver problemas de la sociedad y mejorar sus vidas de  alguna forma.</h5>
    </div>
  </div>
</div>