<%= render "welcome/header" %>
			</header>

			<div role="main" class="main">

				<section class="page-top">
					<div class="slider-container">
						<div class="slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options='{"startheight": 420}'>
							<ul>
								<li data-transition="fade" data-slotamount="13" data-masterspeed="300" >
									<%=image_tag "welcome/team/omar.jpg", alt: "omar", :"data-bgfit"=>"cover", :"data-bgposition"=>"left top", :"data-bgrepeat"=>"no-repeat"%>
								</li>
							</ul>
						</div>
					</div>
					<div class="page-top-info container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="index.html">Inicio</a></li>
									<li class="active">Equipo</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h2>Omar <strong>Ramirez</strong></h2>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row">

						<div class="col-md-12">

							<h2>Desarrollo Android & IOS</h2>

							<p>Soy un desarrollador movil y emprendedor muy autodidacta y con una muy buena capacidad de investigación ademas de contar con una reconocida experiencia en el ambito de desarrollo de software en distintas plataformas y un
interés latente en el aprendizaje y desarrollo de nuevas tecnologías así como
paradigmas, con una habilidad muy natural para integrarse en equipos o
formarlos así como excelentes capacidades para comunicarse, disfruto mucho
resolviendo problemas de prácticamente de cualquier tipo ademas de siempre
pensar como optimizar soluciones ya existentes me encanta jugar juegos de
video es por ahora mi pasatiempo favorito pero espero que pronto deje de ser
solo un pasatiempo busco una empresa con muchas visión y ambición en la
cual pueda desarrollarme profesionalmente así como alimentar mi insaciable
curiosidad y pueda explotar mi potencial en su totalidad</p>

							<ul class="list icons list-unstyled">
								<li><i class="fa fa-check"></i> Universidad Nacional Autónoma de México</li>
								<li><i class="fa fa-check"></i> MIT Global Star Up Workshop</li>
								<li><i class="fa fa-check"></i> Desarrollador IOS, UNAM Mobile</li>
							</ul>

						</div>
					</div>
					<hr class="tall" />
					<div class="row">
						<div class="col-md-5">
							<h2>Mis <strong>Habilidades</strong></h2>
							<div class="progress-bars">
								<div class="progress-label">
									<span>Desarrollo y Diseño para Android / IOS</span>
								</div>
								<div class="progress">
									<div class="progress-bar progress-bar-primary" data-appear-progress-animation="98%">
										<span class="progress-bar-tooltip">98%</span>
									</div>
								</div>
								<div class="progress-label">
									<span>Java</span>
								</div>
								<div class="progress">
									<div class="progress-bar progress-bar-primary" data-appear-progress-animation="90%" data-appear-animation-delay="300">
										<span class="progress-bar-tooltip">90%</span>
									</div>
								</div>
								<div class="progress-label">
									<span>Objective ­ C</span>
								</div>
								<div class="progress">
									<div class="progress-bar progress-bar-primary" data-appear-progress-animation="95%" data-appear-animation-delay="600">
										<span class="progress-bar-tooltip">95%</span>
									</div>
								</div>
								<div class="progress-label">
									<span>Solución de problemas</span>
								</div>
								<div class="progress">
									<div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%" data-appear-animation-delay="900">
										<span class="progress-bar-tooltip">100%</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-md-offset-1">
						</div>
					</div>
					<hr class="tall" />
				</div>
			</div>
		<%= render "welcome/footer" %>
		</div>
		<%= render "welcome/scripts" %>