
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<%= stylesheet_link_tag "login/style", media: "all" %>
<!--web-fonts-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--/web-fonts-->
</head>
<body>
<!--User-Login-->
<h1>User Login</h1>
<div class="avtar">
	<img src="images/avtar.png" />
</div>
	<div class="login-form">
		<form>
			<div class="form-text">
				<%= f.email_field :email, autofocus: true, :class =>"text", :value =>"USERNAME", :onfocus =>"this.value = '';", :onblur=>"if (this.value == '') {this.value = 'USERNAME';}"%>
				<input type="text" class="text" value="USERNAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}" >
				<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
			</div>
				<input type="submit"value="GO" >
		</form>
	</div>
<!--/User-Login-->
<!--start-copyright-->
<div class="copy-right">
	<p>Template by <a href="http://w3layouts.com">w3layouts</a></p> 
</div>
