<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoodFood Blog</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <!-- header -->
    <header id="header">
      <nav class="wow fadeInDown">
        <div class="row">
          <div class="large-3 medium-12 small-12 columns">
            <a href="index.html" class="logo">GoodFood</a>
          </div>
          <div class="large-9 medium-12 small-12 columns">
            <span id="showmobilemenu" class="hide-for-large-up">Menu</span>
            <ul id="mainnav">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About me</a></li>
              <li><a href="recipes.html">My Recipes</a></li>
              <li><a href="blog.html">Blog</a></li>          
              <li><a href="contact.html" class="active">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header> 
    <!-- END header -->

    <section class="content-padding">
      <div class="row">
        <div class="large-12 medium-12 small-12 columns text-center">
          <div class="head align-center">
            <h2 class="margin0">Contact Me</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-9 medium-12 small-12 columns">
          <form>
            <input type="text" placeholder="Your name">
            <input type="email" placeholder="Your email">
            <input type="email" placeholder="Your website">
            <textarea placeholder="Message"></textarea>
            <input type="submit" value="Send message">
          </form>
        </div>
        <div class="large-3 medium-12 small-12 columns text-right">
          <p>
            <strong>Address:</strong><br>
            732 Montgomery Highway, PMB 392<br>
            New York, NY 35216<br>
          </p>
          <p>
            <strong>Phone:</strong><br>
            0048 8839 8823<br>
            0048 8839 8832<br>
          </p>
          <p>
            <strong>Mail:</strong><br>
            <a class="pink" href="mailto:support[at]goodfood.is">support[at]goodfood.is</a>
          </p>
          <p>
            <strong>Follow us</strong><br>
            <a href="">www.twitter.com</a><br>
            <a href="">www.facebook.com</a><br>
            <a href="">www.pinterest.com</a>
          </p>

          
        </div>
      </div>

    </section>

    <footer id="footer">
      <div id="footer-top">
        <div class="row">
          <div class="large-4 medium-4 small-12 columns">
            <h4>Twitter</h4>
            <p><a href="">@GoodFood</a> Nunc convallis sagittis metus, at vehicula orci lacinia a. Maecenas quis mollis dolor, vitae euismod arcu. Praesent nec.</p>
            <p><a href="">@GoodFood</a> Nunc convallis sagittis metus, at vehicula orci lacinia a. Maecenas quis mollis dolor, vitae euismod arcu. Praesent nec.</p>
            <p><a href="">@GoodFood</a> Nunc convallis sagittis metus, at vehicula orci lacinia a. Maecenas quis mollis dolor, vitae euismod arcu. Praesent nec.</p>
          </div>
          <div class="large-4 medium-4 small-12 columns">
            <h4>Recent Comments</h4>
            <p><strong>Morgan Freeman</strong> on <a href="">Where Are These Small Birds Who Like to Sing – Self-Hosted Video Post Type</a></p>
            <p><strong>Nikole Kidman</strong> on <a href="">Just a Little Depressed and What I am Doing About It – Gallery Post Type</a></p>
            <p><strong>Robert Downey Jr.</strong> on <a href="">Isn’t Just a Sequence of Waiting For Things To Be Done! – Slideshow Post Type</a></p>
            <p><strong>Morgan Freeman</strong> on <a href="">Where Are These Small Birds Who Like to Sing – Self-Hosted Video Post Type</a></p>
          </div>
          <div class="large-4 medium-4 small-12 columns">
            <h4>Lorem ipsum dolor</h4>
            <p>There are so many unexpected things I’ve gotten from blogging. Big and small things. A cookbook. A reason to use designer muffin cups. A community. A career. New friends. Offers to try a new line of microalgae.</p>
            <p>But my favourite things however, are those that involve super passionate people wanting to share their awesome</p>
            <p><a href="">Read more...</a></p>
          </div>
        </div>
      </div>

      <div id="footer-bottom">
        <div class="row">
          <div class="large-3 medium-12 small-12 columns">
            <a href="index.html" class="logo">GoodFood</a>
          </div>
          <div class="large-9 medium-12 small-12 columns">
            <ul>
              <li><a href="index.html" class="active">Home</a></li>
              <li><a href="about.html">About me</a></li>
              <li><a href="recipes.html">My Recipes</a></li>
              <li><a href="blog.html">Blog</a></li>          
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  
    
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/app.js"></script> 
  <script src="js/wow.min.js"></script>
    <script>
      jQuery(document).foundation({
        equalizer: {
            equalize_on_stack: true
        }
      });
      wow = new WOW(
        {
          mobile: false
        }
      )
      wow.init();
    </script>
  <script src="js/packery.js"></script> 
  <script src="js/imagesloaded.pkgd.min.js"></script> 
  <script src="js/jquery.flexslider-min.js"></script> 
  </body>
</html>
